<ul class="list-group">
    <li routerLink = "/products"
    [class]="getAllCategoryClass()"
    >Tüm Ürünler</li>
    <li (click)="setCurrentCategory(category)" 
    *ngFor="let category of categories" 
    routerLink = "/products/category/{{category.categoryId}}"
    [class]="getCurrentCategoryClass(category)">
      {{category.categoryName}}
    </li>
  </ul>

  <ul class="list-group">
    <li (click)="getTodosUserId(1)">1</li>
    <li (click)="getTodosUserId(2)">2</li>
    <li (click)="getTodosUserId(3)">3</li>
  </ul>